@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}


header{
    background-image: url(../images/dawn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.315);

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo{}

.logo h3{
    font-size: 30px;
    line-height: 1.1;
}
.logo h3 span{
    font-weight: 300;
}

nav{}

nav ul{
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 0px 0px 0px 25px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

/* banner */


.banner{
    text-align: center;
    padding: 160px 0px;
}

.banner h4{
    font-size: 30px;
    margin: 0;
    font-style: italic;
    font-weight:400;
}

.banner span{
    background-color: #FB2259;
    height: 5px;
    width: 200px;
    border-radius: 10px;
    display: inline-block;
    margin: 15px 0px 30px 0px;
}

.banner h1{
    margin-top: -20px;
    font-size: 80px;
    font-weight: 500;
    padding: 10px 0px 25px 0px;
}

.banner button{
    background-color: #FB2259;
    font-size: 20px;
    color: white;
    padding: 15px 25px;
    border: 2px solid #FB2259;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* event */
.event-top{}

.event-top h2{}

.event-top span{}

.events{
    width: 80%;
    margin: auto;
}

.event{
    padding: 20px;
    text-align: center;
}

.event img{
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 10px 10px 3px gray;
}

.event h4{}

.event p{}

.event a{}



/* mobile device */

@media only screen and (max-width:600px){

    .container{
        width: 90%;
    }

.flex{
    display: block;
    justify-content: space-between;
    align-items: center;
}



.logo{}

.logo h3{
    font-size: 25px;
    padding: 15px 0;
    max-width: 0;
    text-align: center;
}


nav ul{
    padding: 0;
    flex-wrap: wrap;
}

nav ul li{
    padding: 10px;
}

/* banner */


.banner{
    padding: 50px 0px;
}

.banner h4{
    font-size: 25px;
}

.banner span{
    width: 100px;
}

.banner h1{
    font-size: 30px;
    padding: 0px 0px 35px 0px;
}

.banner button{
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    letter-spacing: 1px;
}

}